<p>Beschickung für Strom</p>
<div style="padding-left: 1em;">
    <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field class="example-full-width">
            <mat-label>Kurs über Grund (KüG)</mat-label>
            <input type="number" matInput value="0" required ngModel name="KuG" #KuG="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Fahrt durchs Wasser (FdW)</mat-label>
            <input type="number" matInput value="0" required ngModel name="FdW" #FdW="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Stromrichtung (StR)</mat-label>
            <input type="number" matInput value="0" required ngModel name="StR" #StR="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Stromgeschwindigkeit (StG)</mat-label>
            <input type="number" matInput value="0" required ngModel name="StG" #StG="ngModel">
        </mat-form-field>

        <button id="basic" mat-raised-button color="primary">
            Berechnen
        </button>
    </form>
    <br />
    <div *ngIf="_beschickung">
        <h3>Ergebnis</h3>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Kurs durchs Wasser ° (KdW)</mat-label>
                <input type="number" matInput value="{{_beschickung.kdW}}">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Beschickung für Strom °</mat-label>
                <input type="number" matInput value="{{_beschickung.bs}}">
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Fahrt über Grund kn (FüG)</mat-label>
                <input type="number" matInput value="{{_beschickung.fuG}}">
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width">
            <mat-label>Stromrichtung (StR)</mat-label>
            <input type="number" matInput value="0">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Stromgeschwindigkeit (StG)</mat-label>
            <input type="number" matInput value="0">
        </mat-form-field> -->

        </form>
    </div>

</div>