<div style="padding-left: 1em;">
    <form class="sail-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field class="sail-full-width">
            <mat-label>Kurs über Grund (KüG)</mat-label>
            <input type="number" matInput value="0" required ngModel name="KuG" #KuG="ngModel">
        </mat-form-field>

        <mat-form-field class="sail-full-width">
            <mat-label>Fahrt durchs Wasser (FdW)</mat-label>
            <input type="number" matInput value="0" required ngModel name="FdW" #FdW="ngModel">
        </mat-form-field>

        <mat-form-field class="sail-full-width">
            <mat-label>Stromrichtung (StR)</mat-label>
            <input type="number" matInput value="0" required ngModel name="StR" #StR="ngModel">
        </mat-form-field>

        <mat-form-field class="sail-full-width">
            <mat-label>Stromgeschwindigkeit (StG)</mat-label>
            <input type="number" matInput value="0" required ngModel name="StG" #StG="ngModel">
        </mat-form-field>

        <button id="basic" mat-raised-button color="primary">
            Berechnen
        </button>
    </form>
    <br />
    <div *ngIf="_beschickung">
        <p>
            <span matTooltip="Kurs durchs Wasser, Fahrt durchs Wasser" style="color: red">KdW {{_beschickung.kdW}}°, FdW {{_beschickung.fdW}} kn</span><br />
            <span matTooltip="Kurs über Grund, Fahrt über Grund" style="color: blue">KüG {{_beschickung.kuG}}°, FüG {{_beschickung.fuG}} kn</span><br />
            <span matTooltip="Stromrichtung, Stromgeschwindigkeit" style="color: black">StR {{_beschickung.stR}}°, StG {{_beschickung.stG}} kn</span><br />
        </p>
        <app-beschickung [besResult]="_beschickung"></app-beschickung>
    </div>
</div>