/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sail-form {
    min-width: 150px;
    max-width: 375px;
    width: 100%;
  }
  
  .sail-full-width {
    width: 100%;
  }
  
  h3 {
    padding-left: 16px;
  }